h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.title-small,
.title-medium,
.label-small,
.label-medium,
.label-large {
  font-weight: 500;
}

.title-xl {
  font-weight: 475;
  line-height: 96px;
  font-size: 88px;
}

.display-large,
.display-medium,
.display-small,
.headline-large,
.headline-medium,
.headline-small,
.body-large,
.body-medium,
.body-small,
.title-large {
  font-weight: 400;
}

.display-large {
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.display-medium {
  font-size: 45px;
  line-height: 52px;
}

.display-small {
  font-size: 36px;
  line-height: 44px;
}

.headline-large {
  font-size: 32px;
  line-height: 40px;
}

.headline-medium {
  font-size: 28px;
  line-height: 36px;
}

.headline-small {
  font-size: 24px;
  line-height: 32px;
}

.body-large {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body-medium {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body-small {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.label-large {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-medium {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-small {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.title-large {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0px;
}

.title-medium {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-small {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}
