html {
  box-sizing: border-box;
  --shadow: #0f0f0f1a;
}
html.dark {
  --shadow: #0000002a;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.icon-btn {
  display: inline-flex;
  font-size: 1.25rem;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity, color 0.15s ease-in-out;
  margin: 0 0.5rem;
  align-self: center;
  top: -0.125rem;
  position: relative;
}

.dark .icon-btn:hover {
  color: #88c0d0;
}

.icon-btn:hover {
  opacity: 1;
  color: #81a1c1;
}

body a:not(.icon-btn) {
  color: #81a1c1;
  transition: background-color 0.15s ease-in-out;
}

.dark a:not(.icon-btn) {
  color: #88c0d0;
}

a:hover {
  background-color: #eceff473;
  outline: currentcolor none medium;
  border-radius: 0.25rem;
}

.dark a:hover {
  background-color: #4c566acc;
}
